<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <main class="container mt-4">
        <div class="row">
            <h1> Bem-vindo mochileiro</h1>
            <h3> Save atual: <%= save.nome_save %> ID:<%= save.id %></h3>
        </div>

        <div class="row mt-4">
            <div id="atrbt" class="menus save-display-menu col-md-4" >
                <p class="nome_reno"> Nome: <%= save.atributos.nome %></p>
                <input class="input_reno opcoes-save" type="text" name="novo_nome" placeholder="Novo Nome" value="<%= save.atributos.nome %>" required form="renomearForm"></input>
                <p> Nivel: <%= save.atributos.nivel %></p>
                <p> Vida: <%= save.atributos.vida_atual %> / <%= save.atributos.vida_maxima %></p>
                <p> Ataque: <%= save.atributos.ataque %></p>
                <p> Defesa: <%= save.atributos.defesa %></p>
                <p> Dinheiro: <%= save.dinheiro %></p>
                <%- include('partials/adotarPetForm', { saveId: save.id }) %>
            </div>
            <div id="menu" class="menus ferreiro opcoes-menu col-md-8">
                <h2> Ferreiro </h2>
                <p> Aqui você pode melhorar seus equipamentos! </p>

                <div class="disponiveis">
                    <h3> Itens Disponíveis para Melhoria: </h3>
                    
                </div>

                <p>selecione um pra melhorar:</p>
                <select form="melhorarForm" name="itens" id="itens-disponiveis">
                    <option value="" disabled selected>Selecione um item</option>

                </select>

                <form id="melhorarForm" action="/ferreiro/melhorar" method="POST">
                    <button > Melhorar </button>
                </form>












            </div>


            <%-include('partials/inventario') %>

        </div>
    </main>

    <div class="col-4 col-s-2"></div>
    <%- include('partials/footer') %>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const infoPet = document.querySelectorAll('.pet-info');
    const btnAdotar = document.querySelectorAll('.btn-adotar-toggle');
    const btnEditar = document.querySelectorAll('.btn-editar-toggle');
    const btnConcluir = document.querySelectorAll('.btn-concluir-toggle');
    const inputReno = document.querySelectorAll('.input_reno');
    const inputPetReno = document.querySelectorAll('.input_pet_reno');
    const nomeReno = document.querySelectorAll('.nome_reno');
    const nomePetReno = document.querySelectorAll('.nome_pet_reno');

    btnEditar.forEach(button => {
        button.addEventListener('click', () => {
            inputReno.forEach(input => {
                input.classList.toggle('opcoes-save');
            });
            nomeReno.forEach(nome => {
                nome.classList.toggle('opcoes-save');
            });
            inputPetReno.forEach(input => {
                input.classList.toggle('opcoes-save');
            });
            nomePetReno.forEach(nome => {
                nome.classList.toggle('opcoes-save');
            });
            btnConcluir.forEach(btn => {
                btn.classList.toggle('opcoes-save');
            });
            button.classList.toggle('opcoes-save');
        });
    });

    btnConcluir.forEach(button => {
        button.addEventListener('click', () => {
            inputReno.forEach(input => {
                input.classList.toggle('opcoes-save');
            });
            nomeReno.forEach(nome => {
                nome.classList.toggle('opcoes-save');
            });
            inputPetReno.forEach(input => {
                input.classList.toggle('opcoes-save');
            });
            nomePetReno.forEach(nome => {
                nome.classList.toggle('opcoes-save');
            });
            btnEditar.forEach(btn => {
                btn.classList.toggle('opcoes-save');
            });
            button.classList.toggle('opcoes-save');
        });
    });

    btnAdotar.forEach(button => {
        button.addEventListener('click', () => {
            infoPet.forEach(pet => {
                pet.classList.toggle('opcoes-save');
            });
            button.classList.toggle('opcoes-save');
        });
    });
});
</script>
</html>