<html lang="pt-br">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <div class="menu">
        <h1> Seleção de Save </h1>
        <% if (saves && saves.length > 0) { %>
            <p> Escolhe um save ai: </p>
            <% saves.forEach(save => { %>
                <div class="saveCompleto">
                    <button class="Savecard"> <%= save.nome_save %> </button>
                    <form action="/saves/<%= save.id%>/renomear" class="renomear"> Renomear </form>
                    <form action="/saves/<%= save.id%>/deletar" class="deletar"> Deletar </form>
                    <form action="/saves/<%= save.id %>/selecionar" method="POST" class="d-inline">
                        <button type="submit">Continuar</button>
                    </form>
                </div>
            <% }) %>
        <% } else { %>
            <p> Não foi encontrado save. Crie um novo. </p>
        <% } %>
    </div>

    <%- include('partials/footer') %>
</body>
</html>