<% inventario = inventario || []; %>
<div class="inventario-container">
    <h2>Inventário</h2>
    <ul class="inventario-lista">
        <% if (inventario.length === 0) { %>
            <li>O inventário está vazio.</li>
        <% } else { %>
            <% inventario.forEach(item => { %>
                <li class="inventario-item"> <!-- arrumem dps do jeito q vc querem pq eu n sou bom em design-->
                    <span class="item-nome"><%= item.nome %></span>
                    <span class="item-tipo">Tipo: <%= item.tipo %></span>
                    <span class="item-descricao"><%= item.descricao %></span>
                    <span class="item-achave"> <%= item.atributo_chave %>: <%= item.atributo_chave === 'Ataque' ? item.atributo_ataque : item.atributo_defesa %></span>
                </li>
            <% }); %>
        <% } %>
    </ul>
</div>